$gray: #ededed;
$white: #fff;

.message-box{
  background-color:$gray; display:flex; padding:10px;
  &-input{flex:1; padding:10px; max-height:100px; overflow:auto; background-color:$white; border-radius:8px;}
  &-button{
    background-color:transparent; border-width:0; padding:10px;
    &::before{
      content:""; display:block;
      border:solid 10px transparent; border-width:9px 0 9px 20px; border-color: transparent transparent transparent #9ea4a5;
    }
  }
}